/* GoogleMap表示部 */

#map {
  position:absolute;
  width: calc(100% - 330px);
  height:100%;
  left:0%;
  top:0%;
  background-color: Gray;
}

/* :::::: toggle button :::::: */

#navTgl {
  display: none;
  overflow: hidden;
}

label {
  cursor: pointer;
  position: fixed;
  top: 0;
  right: 300px;
  min-height: 100%;
}

.open {
  z-index: 2;
  width: 30px;
  height: 50px;
  color: white;
  background-color: lightSeaGreen;
  font-size: 2em;
  line-height: 50px;
  text-align: center;
  -webkit-transition: background-color .6s, -webkit-transform .6s;
  transition: background-color .6s, transform .6s;
}

#navTgl:checked + .open {
  background-color: indianRed;
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

.close {
  pointer-events: none;
  z-index: 1;
  width: 30px;
  height: 50px;
  transition: background-color .6s;
}

#navTgl:checked ~ .close {
  pointer-events: auto;
  background-color: rgba(0,0,0,.3);
}

/* 右側メニュー周りの設定 */

.menu {
  z-index: 1;
  position: fixed;
  overflow: auto;
  top: 0;
  right: -00px;
  width: 600px;
  height: 100%;
  margin:0px;
  padding: 0px;
  background-color: rgb(0,0,0);
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: -webkit-transform .6s;
  transition: transform .6s;
}

#navTgl:checked ~ .menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu h2,
.menu li a {
  color: white;
}

.menu h2 {
  text-align: center;
}

.menu ul,
header nav ul {
  padding: 0;
}

.menu li {
  border-bottom: 1px solid rgb(255,255,255);
  font-size: .8em;
  line-height: 1.4;
}

.menu li:first-child {
  border-top: 1px solid rgb(255,255,255);
}

.menu li a,
header nav li a {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  transition: background-color .6s;
}

.menu li a:hover {
  background-color: black;
}

/* 右側メニューリスト周りの設定 */

div.place {
  background:#fff;
  margin:0px;
  padding: 0px;
  width:600px;
  height: 100%;
  float: right;
}
div.btn{
  margin:20px auto;
  float: left;
}

#calendar {
  background:#bbb;
  width:300px;
  height: 100%;
  max-height:100vh;
  margin:0px auto;
  float: left;
  text-align:left;
  overflow:auto;
}


#external-events {
  background:#aaa;
  width:300px;
  max-height:100vh;
  margin: 0px auto;
  float: right;
  text-align:left;
  overflow:auto;
}

#external-events .fc-event {
  margin: 10px 0;
}

#external-events .selected {
  margin: 10px 0;
  background:#b22;
  border:#811;
}

#external-events .unselected {
  cursor: pointer;
}


/* CSS Document */
body {
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
    height:100%;
    margin:0;
    padding:0;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* 検索ウィンドウの設定 */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}
