/* GoogleMap表示部 */

#map {
  position:absolute;
  width: calc(100% - 290px);
  height:100%;
  left:0%;
  top:0%;
  background-color: Gray;
}

/* :::::: toggle button :::::: */

#navTgl {
  display: none;
  overflow: hidden;
}

label.open {
  cursor: pointer;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 2;
  width: 100px;
  height: 30px;
  color: #ffffff;
  background-color: #ff0000;
  font-size: 16px;
  line-height: 25px;
  border-radius: 5px;
  border-color: #ffffff;
  border-width : 1px;
  border-style : solid;
  text-align: center;
  -webkit-transition: background-color .6s, -webkit-transform .6s;
  transition: background-color .6s, color .6s, transform .6s;
}

#navTgl:checked + .open {
  color: #ff0000;
  background-color: #ffffff;
}

.close {
  pointer-events: none;
  z-index: 1;
  width: 30px;
  height: 50px;
  transition: background-color .6s;
}

#navTgl:checked ~ .close {
  pointer-events: auto;
  background-color: rgba(0,0,0,.3);
}

/* 右側メニュー周りの設定 */

.menu {
  z-index: 1;
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0px;
  width: 610px;
  height: 100%;
  margin:0px;
  padding-top: 50px;
  padding-bottom: 0px;
  padding-left: 5px;
  padding-right: 5px;

  background-color: #ff0000;
  -webkit-transform: translateX(300px);
  transform: translateX(300px);
  -webkit-transition: -webkit-transform .6s;
  transition: transform .6s;
  overflow: hidden;
}

#navTgl:checked ~ .menu {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.menu h2,
.menu li a {
  color: white;
}

.menu h2 {
  text-align: center;
}

.menu ul,
header nav ul {
  padding: 0;
}

.menu li {
  border-bottom: 1px solid rgb(255,255,255);
  font-size: .8em;
  line-height: 1.4;
}

.menu li:first-child {
  border-top: 1px solid rgb(255,255,255);
}

.menu li a,
header nav li a {
  display: block;
  padding: 1em 2em;
  text-decoration: none;
  transition: background-color .6s;
}

.menu li a:hover {
  background-color: black;
}

/* 右側メニューリスト周りの設定 */

#calendar {
  background-color: #ff0000;
  color: #ffffff;
  width:300px;
  height: 100%;
  max-height: calc(100vh - 50px);
  margin:0px auto;
  float: left;
  text-align:left;
  overflow: hidden;
}

div.place {
  background:#fff;
  margin:0px;
  padding: 0px;
  width: 290px;
  height: 100%;
  float: right;
}

#external-events {
  background: #ff0000;
  color: #ffffff;
  width:290px;
  height: calc(100vh - 50px);
  padding-right: 30px;
  margin: 0px auto;
  float: right;
  text-align:left;
  overflow:auto;
}

#external-events .fc-event {
  background-color: #fff;
  border-color: #fff;
  color: #ff0000;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  min-height: 60px;
}

#external-events .selected {
  background:#b22;
  border:#811;
}

#external-events .unselected {
  cursor: pointer;
}


/* CSS Document */
body {
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
    height:100%;
    margin:0;
    padding:0;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

/* 検索ウィンドウの設定 */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

.fc-time-grid{
  background-color: #ffffff;
  color: #808080;
}

.fc-widget-content{
  border: 0px #ff0000 solid;
}

.fc-day{
  background-color: #ffffff;
}

button.fc-button{
  background: #ff0000 !important;
  background-color: #ff0000 !important;
  color: #ffffff;
  border-color: #ffffff !important;
  border-radius: 1px !important;
}

.fc-today{
   background-color: #ffffff !important;
}

.fc-time{
  font-size: 12px !important;
}
.fc-content{
  font-size: 12px;
}

.fc-title {
  font-size: 16px;
}
